* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}


html,body{
    margin: 0;
    padding: 0;
}


/* Barra de navegación */

.caja-navbar {
    background-color: #000000;
    border-bottom: 1px solid #e9ecef;
    padding: 10px 0;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 20px 20px 0 20px;
    padding: 15px 20px 15px 20px;
    
}

.nav-link {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link:hover {
    color: #979999;
    text-decoration: none;
    font-size: 21px;
    transition: 0.5s;
}



/* Footer */
footer{
    background-color: #0D0D0D;
}

.caja-footer{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 40px 20px 0 20px;
    padding: 60px 20px 50px 20px;
}

.caja-footer h3.titulo-footer{
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
    font-family: "Noto Sans", sans-serif;
    margin: 0 0 20px 0;
    text-decoration: none;
    transition: 0.5s;
}

.caja-footer h3.derechos-footer{
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-right: 50px;
    text-decoration: none;
    transition: 0.5s;

}

.caja-footer a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0 0 0;
    text-decoration: none;
    transition: 0.5s;
}

.caja-footer a:hover{
    color: #979999;
    text-decoration: none;
    transition: 0.5s;
}

.caja-redes-sociales1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-redes-sociales1 img{
    max-width: 20px;
    margin: 0 5px 0 5px;
}


/* Historia */

.img-container {
    display: flex;
    justify-content: center;
    margin: 20px 20px 0 20px;
}

.caja-historia-principal{
    margin: 50px 0px 0px 0px; 
    display: flex;
    justify-content: center;
}

.caja-historia-1,.caja-historia-3{
    max-width: 380px;
    width: 100%;
    height: auto;
    background-color: #73655d;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: white;
}

.caja-historia-3{
    margin-left: 20px;
}

.caja-historia-1 img, .caja-historia-3 img{
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    opacity: 95%;
}

.caja-historia-1 h1, .caja-historia-3 h1{
    font-size: 20px;
}

.caja-historia-1 p, .caja-historia-3 p{
    font-size: 15px;
}

.caja-historia-2{
    display: flex;
    align-items: center;
}
.caja-historia-2 img{
    width: 100%;
    max-width: 300px;
    padding: 20px;
    margin-left: 20px;
    border-radius: 30px;
}

.caja-historia-4{
    margin-left: 20px;
    max-width: 280px;
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.mini-historia-1,.mini-historia-2{
    height: auto;
    width: 100%;
    max-width: 300px;
    background-color: #73655d;
    color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
}


.link-auto{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Contacto */
.contacto-mapa{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.contacto-mapa img{
    width: 100%;
    max-width: 1000px;
}

.titulo-visitanos{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    text-align: center;
    font-size: 65px;
    margin-bottom: 25px;
}

.contacto-principal{
    margin: 50px 0px 0px 0px; 
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.contacto-google-maps{
    width: 100%;
    max-width: 700px;
}

.contacto-texto{
    width: 100%;
    max-width: 340px;
    margin-right: 50px;
}

.contacto-texto-1{
    color: white;
    font-weight: bold;
    background-color: #5e5e5e;
    text-align: left;
    padding: 25px;
    font-size: 25px;
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.contacto-texto-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contacto-texto-2 h1 {
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

.contacto-texto-2 ul {
    list-style: none;
    padding: 0;
}

.contacto-texto-2 li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contacto-texto-2 img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.contacto-google-maps{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto-google-maps iframe{
    width: 100%;
    height: 100%;
    padding: 25px;
}

.titulo-visitas{
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
}


/* Carrusel */
.titulo-exposicion{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    text-align: center;
    font-size: 65px;
}

.contenedor-carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%; 
    max-width: 700px;
    margin: 30px auto 0; 
    overflow: hidden;
    position: relative;
    flex-direction: column;
    margin-bottom: 15px;
}

.carrusel-slide {
    display: none;
    width: 100%;
}

.carrusel-slide img {
    width: 100%;
    max-width: 700px;
    height: 400px; 
    object-fit: cover; 
    border-radius: 5px;
    border: 5px solid rgb(115, 101, 93,1);
  
}

#fotos-principal{
    width: 100%;
    max-width: 1000px;
    margin-top: 50px;
}

#fotos-principal .carrusel-slide img{
    width: 100%;
    max-width: 1000px;
}

.carrusel-slide iframe{
    width: 100%;
    max-width: 700px;
    height: 400px; 
    object-fit: cover; 
    border-radius: 5px;
    border: 5px solid rgb(115, 101, 93,1);
}

.control{
    border-radius: 25px;
    background-color: #73655d;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrusel-control {
    width: 5%;
    cursor: pointer;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.carrusel-prev {
    left: 10px;
}

.carrusel-next {
    right: 10px;
}

.bolita {
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.bolita.activo {
    background-color: #ffffff; 
}

.year{
   
    color: white;
    left: 0;
    right: 0;
    margin: 20px auto;
    font-size: 45px;
    width: 100%;
    text-align: center;
    max-width: 200px;
    background-color: #3A3838;
    border-radius: 20px;
    
}

.calendario-eventos{
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    max-height: 900px;
    background-color: #FFFFFF;
    max-width: 1000px;
    border: 5px solid rgb(115, 101, 93,1);
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 25px;
}


.img-container {
    display: flex;
    justify-content: center;
    margin: 20px 20px 0 20px;
}

.img-container img {
    width: 40%;
}

.carousel-revistas {
    overflow: hidden;
    width: 100%;
    margin: 20px 20px 0 20px;
}
  
.carousel-item{
    width: 25%;
    margin: 0 50px 0 50px;
    padding: 20px;

}
.container{
    display: flex;
    justify-content: center;
    margin: 20px 20px 0 20px;
}

.text-container {
    margin: 20px 150px 0 150px;
    text-align: center;
    justify-content: center;
}

.header-view5{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    max-width: 100%;
}

.title-view5{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
}

.text-view5{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.text-description{
    max-width: 30%;
}

p{
    text-align: justify;
}

.link-view5{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    transition: 0.5s;
}

.link-view5:hover{
    color: #646565;
    text-decoration: none;
    font-size: 21px;
    transition: 0.5s;
}

.titulo-conmemoraciones{
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
    font-size: 65px;
}

.info-evento{
    width: 30%;
    margin: 20px 20px 0 20px;
    border-radius: 30px;
    background-color: #73655d;
}

.info-evento img{
    width: 100%;
    max-height: 50%;
    border-radius: 30px 30px 0 0;
}

.info-evento h3{
    color: white;
    margin: 20px;
    text-align: center;
    font-weight: 600;
}

.info-evento p{
    font-size: 12px;
    color: white;
    margin: 20px;
}

.evento-especial{
    max-width: 60%;
    margin: 0 100px 50px 100px;
}
.control-revistas{
    display: flex;
    justify-content: center;
}

.carrusel-control-revistas{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 60px;
    color: #73655d;
    margin: 0 25px 0 25px;
    transition: 0.5s;
}

.carrusel-control-revistas{
    display: flex;
    justify-content: center;
    margin: 20px 20px 0 20px;
}

.carrusel-control-revistas:hover{
    color: #574c46;
    font-size: 65px;
    transition: 0.5s;
}


@media (max-width:780px){
    
    /* Barra de navegación */
    .caja-navbar {
        border-bottom: 1px solid #e9ecef;
        display: list-item;
        list-style-type: none;
        text-align: center;
        margin: 20px 20px 20px 20px;
        padding: 15px 20px 15px 20px;   
    }

    .container{
        display: list-item;
        list-style-type: none;
    }

    /* Historia */

    #fotos-principal{
        width: 90%;
        max-width: 500px;
        margin-top: 50px;

    }
    
    #fotos-principal .carrusel-slide img{
        width: 100%;
        max-width: 500px;
        object-fit: cover;
    }
    
    
    .caja-historia-principal{
        margin: 0px; 
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .caja-historia-1,.caja-historia-3{
        max-width: 380px;
        width: 80%;
        height: auto;
        background-color: #73655d;
        border-radius: 15px;
        padding: 20px;
        text-align: center;
        color: white;
        align-self: center;
    }
    
    .caja-historia-3{
        margin-left: 0px;
    }
    
    .caja-historia-1 img, .caja-historia-3 img{
        width: 100%;
        max-width: 300px;
        border-radius: 15px;
        opacity: 95%;
    }
    
    .caja-historia-1 h1, .caja-historia-3 h1{
        font-size: 20px;
    }
    
    .caja-historia-1 p, .caja-historia-3 p{
        font-size: 15px;
    }
    
    .caja-historia-2{
        display: flex;
        align-items: center;
        align-self: center;
    }

    .caja-historia-2 img{
        width: 100%;
        max-width: 300px;
        padding: 20px;
        border-radius: 30px;
    }
    
    .caja-historia-4{
        align-self: center;
        margin-left: 0px;
        max-width: 400px;
        width: 100%;
        height: auto;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .mini-historia-1,.mini-historia-2{
        height: auto;
        width: 100%;
        max-width: 300px;
        background-color: #73655d;
        color: white;
        margin-top: 20px;
        padding: 20px;
        border-radius: 15px;
    }
    
    
    .link-auto{
        margin:50px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Exposiciones Futuras */
    
    .contenedor-carrusel {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 90%; 
        max-width: 500px;
        margin: 30px auto 0; 
        overflow: hidden;
        position: relative;
        flex-direction: column;
        margin-bottom: 15px;
        align-self: center;
    }
    
    .carrusel-slide {
        display: none;
        width: 100%;
    }
    
    .carrusel-slide img {
        height: 100%;
        max-height: 200px;
        height: 400px; 
        object-fit: cover; 
      
      
    }
    
    .carrusel-slide iframe{
        height: 100%;
        max-height: 250px;
        object-fit: cover; 
      
    }
  
    .calendario-eventos{
        right: 0;
        left: 0;
        margin: auto;
        width: 90%;
        height: 100%;
        max-height: 900px;
        background-color: #FFFFFF;
        max-width: 1000px;
      
        border-radius: 20px;
        padding: 5px;
        margin-bottom: 25px;
    }
    
    /* Contacto */
    .contacto-mapa{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    
    .contacto-mapa img{
        width: 90%;
        max-width: 1000px;
    }
    
    
    .contacto-principal{
        margin: 0px 0px 0px 0px; 
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    
   
    .contacto-texto{
        width: 100%;
        max-width: 400px;
        margin-right: 0px;
    }
    
    .contacto-texto-1{
        color: white;
        font-weight: bold;
        background-color: #5e5e5e;
        text-align: left;
        padding: 25px;
        font-size: 20px;
        border-radius: 15px;
        width: 90%;
        height: auto;
    }
    
    .contacto-texto-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 17px;
    }

    .contacto-texto-1,
    .contacto-texto-2 {
        margin: 0 auto; 
    }
    
    .titulo-visitas{
        text-align: center;
        font-size: 20px;
        margin: 40px 20px 0px;
    }



    /* Conmemoraciones */
    .titulo-conmemoraciones{
        font-size: 45px;
    }

    .info-evento{
        width: 90%;
        margin: 20px 20px 0 20px;
    }

    
    .info-evento p{
        padding: 0 0 20px 0;
    }

    .evento-especial{
        max-width: 90%;
        margin: 0 20px 50px 20px;
    }

    /* Servicios Adicionales */

    .img-container {
        display: list-item;
        list-style-type: none;
        text-align: center;
    }
    .img-container img {
        width: 90%;
    }
      
    .carousel-item{
        width: 90%;
        margin: 0 20px 0 20px;
        padding: 20px;
    }

    .text-container {
        margin: 20px 20px 0 20px;
        justify-content: center;
        width: 100%;
    }

    .header-view5{
        max-width: 90%;
    }
    

    .title-view5{
        font-weight: 300;
        font-size: 60px;
        width: 90%;
    }
    
    .text-view5{
        font-weight: 500;
        font-size: 12px;
        width: 90%;
    }

    .text-description{
        max-width: 100%;
    }

    .text-description p.title-view5{
        font-size: 40px;
        text-align: center;
    }

    .text-description p.text-view5{
        text-align: center;
    }

    /* Footer */    
    .caja-footer{
        display: list-item;
        list-style-type: none;
        text-align: center;
    }
    
    .caja-footer h3.titulo-footer{
        text-align: center;
    }

    .caja-footer div{
        display: list-item;
        align-items: center;
        text-align: center;
    }
    
    .caja-footer h3.derechos-footer{
        text-align: center;
    }
    
}


.animate__animated.animate__fadeInDown{
    --animate-duration: 0.5s;
}

.animate__animated.animate__zoomInUp,.animate__animated.animate__zoomInDown{
    --animate-duration: 1s;
}

.animate__animated.animate__backInDown{
    --animate-duration: 1s;
}
.animate__animated.animate__jackInTheBox{
    --animate-duration: 1.8s;
}
.animate__animated.animate__fadeIn, .animate__animated.animate__fadeInDownBig,.animate__animated.animate__fadeInUpBig{
    --animation-duration: 2s;
}



